body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: white;
  font-family: "Inter", sans-serif;
   overflow-y: scroll;

}
  body::-webkit-scrollbar{
    display: none;
  }

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* .main-APP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 80px); 
  flex-direction: column;

} */
